#
# User defined Makefile options for dpf-ax

# Specify here the default model you wish to compile for. See dpfmodel.h for valid
# names.
DEFAULT_TYPE = pearl

### The directory environment

FWDIR = ../fw

### Includes and defines

# Uncomment this if you want to build firmware with devel functionality (= "original" version).
# Leave it commented if you want to build firmware with display functionality only.
#BUILD_DEVEL=1

#
# Following values are only valid if BUILD_DEVEL not defined
#

#
# Set the default splash screen
# valid values are: 0 = black, 1 = white, 2 = image
DEFAULT_SPLASH=2

#
# Set the custom menu font color (RGB)
# example: green
#CUSTOM_MENU_COLOR=0, 255, 0

#
# Set the custom menu background color (RGB)
# example: developer mode background color
#CUSTOM_MENU_BGCOLOR=0, 0, 70
